<div class="aboutContainer container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">A propos de nous
                    <small>Hexanonyme</small>
                </h1>
                <p>
                    Cet outil a été développé dans le cadre du projet SmartCity du Département Informatique de l'INSA de Lyon
                    grâce aux données fournises par le Grand Lyon.
                </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Notre équipe</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/a.jpg" alt="">
                <h3 class="aboutTitleBuble">Alexis Andra</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/p.jpeg" alt="">
                <h3 class="aboutTitleBuble">Paul Dautry</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/r.jpg" alt="">
                <h3 class="aboutTitleBuble">Rémy de Leydet</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/s.jpg" alt="">
                <h3 class="aboutTitleBuble">Salomé Lahmar</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/c.jpg" alt="">
                <h3 class="aboutTitleBuble">Cindy Rihouey</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/j.png" alt="">
                <h3 class="aboutTitleBuble">Jérémy Wimsingues</h3>
            </div>
        </div>

        <hr>

    </div>