<header id="homeCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('images/lyon1.png');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('images/lyon2.png');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('images/lyon3.png');"></div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Services proposés</h2>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Notation d'une adresse<br/><br/></h4>
                    <p>Cet outil destiné aux acheteurs et aux vendeurs de biens immobiliers permet de noter une adresse en fonction de certains critères.</p>
                    <a href="#/search" class="btn btn-primary">Essayer</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Visualisation de la qualité de vie à une adresse</h4>
                    <p>Cet outil destiné au professionnel de l'urbanisme permet de visualiser la qualité de vie des différents profils sociaux à une adresse précise.</p>
                    <a href="#/map" class="btn btn-primary">Essayer</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-binoculars fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Notation d'un quartier<br/><br/></h4>
                    <p>Cet outil visant les personnes recherchant des biens immobiliers permet de trouver des zones en adéquation avec leur profil.</p>
                    <a href="#/search" class="btn btn-primary">Essayer</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Visualisation de la qualité de vie dans un quartier</h4>
                    <p>Cet outil destiné au professionnel de l'urbanisme permet de visualiser la qualité de vie dans un quartier pour un profil social donné.</p>
                    <a href="#/map" class="btn btn-primary">Essayer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer col-lg-12"><p>Par Hexanonyme</p></div>
</div>