<div class="col-md-1" ng-click='prev()'>
    <img ng-src="images/prev-arrow.png" style="position:fixed;left:10px" ng-show='displayedView > 0' />
</div> 
<div  class="col-md-10" class="animate-switch-container" ng-switch on="displayedView">
     <div ng-class="animateSwitchClass" ng-switch-default>
         <div ng-controller="ProfilsCtrl" ng-include="'views/profils.html'"></div>
    </div>
     <div ng-class="animateSwitchClass" ng-switch-when="1">
         <div ng-controller="AreasCtrl" ng-include="'views/area.html'"></div>
    </div>
     <div ng-class="animateSwitchClass" ng-switch-when="2">
         <div ng-controller="MapResultsCtrl" ng-include="'views/mapResults.html'" onload="initMap(); updateMap();"></div>
    </div>
</div>
<div class="col-md-1" ng-click='next()'>
    <img ng-src="images/next-arrow.png" style="position:fixed;right:10px" ng-show='displayedView < 2'/>
</div>