
<div class="container" style="position:relative;">
    <div class="slideIconLeft"> 
        <span class="fa-stack fa-2x btn-primary" ng-click='prev()' ng-show='displayedView > 0'>
          <i class="fa fa-angle-left fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="animate-switch-container" ng-switch on="displayedView">
         <div ng-class="animateSwitchClass" ng-switch-when="0">
             <div ng-controller="AddressCtrl" ng-include="'views/address.html'"></div>
        </div>
         <div ng-class="animateSwitchClass" ng-switch-when="1">
             <div ng-controller="AddressResultsCtrl"  ng-include="'views/addressResults.html'"></div>
        </div>
    </div>
    <div class="slideIconRight">
        <span class="fa-stack fa-2x btn-primary" ng-click='next()' ng-show='displayedView < 1'>
          <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
        </span>
    </div>
</div>