<div class="profils-container container">    
    <div class="profils row">
        <h2 class="text-center">Quel est votre profil ?</h2>
        <div class="col-md-1"></div>
        <div class="col-md-2" ng-repeat="profil in profils">
            <a ng-click="updateCoef($index)">
                <div ng-class="{'myStyle': $index == profilSelected}">
                    <img ng-src="images/dynamic/{{profil.imgPath}}" width="150" height="150"/>
                    <h3 class="text-center">{{profil.name}}</h3>
                </div>
            </a>            
        </div>
        <div class="col-md-1"></div>
    </div>
    <br/>
    <div class="text-center">
        <a ng-click="showHideDetails()">{{msgCriteres}}</a>
    </div><br/>
    <div ng-repeat="criteria in searchData.criterias" ng-show="show">  
        <h3 class="text-center">{{criteria.name}}</h3><br/>
        <div class="col-md-4 text-right">Critère peu important</div>
        <div class="col-md-4 text-center">
            <slider ng-model="criteria.coef" min="0" step="1" max="10" slider-tooltip="always"></slider>
        </div>
        <div class="col-md-4 text-left">Critère très important</div><br/><br/>
    </div>         
</div>