.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0px;
}

header.carousel {
    height: 450px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    max-width: 1200px;
    margin:auto;
    padding-left: 0;
    padding-right: 0;
  }
    
  .aboutContainer {
    max-width: 1000px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
    .groupe {
        background-color:rgba(192, 192, 192, 0.5);
        font-weight: bold;
    }
    
    .pasInt {
        color:rgba(192, 192, 0, 1);        
        font-weight: bold;
    }
    
    .tresInt {
        color:rgba(192, 32, 0, 1);
        font-weight: bold;
    }
    
    .headerRadio0 {
        color:rgba(192, 192, 0, 1);
    }
    
    .inlineRadio0 {
       background-color: rgba(192, 192, 0, 0.6);
    }
    
     .headerRadio1 {
        color:rgba(192, 176, 0, 1);
    }
    
    .inlineRadio1 {
         background-color:rgba(192, 176, 0, 0.6);       
    }
    
     .headerRadio2 {
        color:rgba(192, 160, 0, 1);
    }
    
    .inlineRadio2 {
         background-color:rgba(192, 160, 0, 0.6);
    }
    
     .headerRadio3 {
        color:rgba(192, 144, 0, 1);
    }
    
    .inlineRadio3 {
         background-color:rgba(192, 144, 0, 0.6);
    }
    
     .headerRadio4 {
        color:rgba(192, 128, 0, 1);
    }
    
    .inlineRadio4 {
         background-color:rgba(192, 128, 0, 0.6);
    }
    
     .headerRadio5 {
        color:rgba(192, 112, 0, 1);
    }
    
    .inlineRadio5 {
         background-color:rgba(192, 112, 0, 0.6);
    }
    
     .headerRadio6 {
        color:rgba(192, 96, 0, 1);
    }
    
    .inlineRadio6 {
         background-color:rgba(192, 96, 0, 0.6);
    }
    
     .headerRadio7 {
        color:rgba(192, 80, 0, 1);
    }
    
    .inlineRadio7 {
         background-color:rgba(192, 80, 0, 0.6);
    }
    
     .headerRadio8 {
        color:rgba(192, 64, 0, 1);
    }
    
    .inlineRadio8 {
         background-color:rgba(192, 64, 0, 0.6);
    }
    
     .headerRadio9 {
        color:rgba(192, 48, 0, 1);
    }
    
    .inlineRadio9 {
         background-color:rgba(192, 48, 0, 0.6);
    }
    
     .headerRadio10 {
        color:rgba(192, 32, 0, 1);
    }
    
    .inlineRadio10 {
         background-color:rgba(192, 32, 0, 0.6);
    }
    
    .sample-show-hide {
      padding:10px;
      background:white;
    }

    .sample-show-hide {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }

    .sample-show-hide.ng-hide {
      opacity:0;
    }
    
    a, a:hover{
        color :black;
    }
    
    a:hover {
      text-decoration : underline;  
    }

}
.img-center {
	margin: 0 auto;
}

.titleBuble{
    margin-top: 5px;
    max-width: 200px;
    margin-bottom: 25px;
    font-size: 22px;
}

.aboutTitleBuble{
    margin-top: 5px;
    margin-bottom: 25px;
}

.bubble {
    position: relative;
    max-width: 200px;
    max-height: 200px;
}

.notSelectedBubble{
    display: none;
}

.selectedBubble{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.selectedBubble p{
    height: 100%;
    width: 100%;
    display: table;
}

.selectedBubble p i{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.tableCriteres{
    text-align: center;
    vertical-align: middle; 
}

#heatmapPro, #heatmapInd{
    height: 600px;
}

.fade {
    position: absolute;
    top: 40;
    left: 0;
    right: 0;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.m-x-10{
    margin-left: 10px;
    margin-right: 10px;
}

#heatmapLegend {
    text-align: center;
    width: 110px;
    background:rgba(255, 255, 255, 0.75);
    position:relative;
    top:-44px;
    padding:4px;
    padding-top: 0px;
    margin-bottom: -30px;
}

#minLegend {
    float:left;
}

#maxLegend {
    float:right;
}

#heatmapTooltip{
    position: fixed;
    left: 0;
    top: 0;
    width: 40px;
	background: rgba(0, 0, 0, .8);;
	border: 1px solid white;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    line-height: 18px;  
    text-align: center;
    border-radius: 4px;
}

#heatmapTooltip:after, #heatmapTooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#heatmapTooltip:after {
	border-color: rgba(0, 0, 0, 0);;
	border-top-color: #000000;
	border-width: 5px;
	margin-left: -5px;
}
#heatmapTooltip:before {
	border-color: rgba(212, 212, 212, 0);
	border-top-color: #d4d4d4;
	border-width: 6px;
	margin-left: -6px;
}

#gradientLegend{
    width: 100px;
    height: 15px;
    opacity: 1;
    background: rgba(0,0,255,1);
    background: -moz-linear-gradient(left, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 25%, rgba(0,255,0,1) 55%, rgba(0,255,0,1) 55%, rgba(255,255,0,1) 85%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,255,1)), color-stop(25%, rgba(0,0,255,1)), color-stop(55%, rgba(0,255,0,1)), color-stop(55%, rgba(0,255,0,1)), color-stop(85%, rgba(255,255,0,1)), color-stop(100%, rgba(255,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 25%, rgba(0,255,0,1) 55%, rgba(0,255,0,1) 55%, rgba(255,255,0,1) 85%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 25%, rgba(0,255,0,1) 55%, rgba(0,255,0,1) 55%, rgba(255,255,0,1) 85%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 25%, rgba(0,255,0,1) 55%, rgba(0,255,0,1) 55%, rgba(255,255,0,1) 85%, rgba(255,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 25%, rgba(0,255,0,1) 55%, rgba(0,255,0,1) 55%, rgba(255,255,0,1) 85%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#ff0000', GradientType=1 );
}

.animate-switch-container {
  position:relative; 
}

.animate-switchLeft.ng-enter,
.animate-switchLeft.ng-leave,
.animate-switchRight.ng-enter,
.animate-switchRight.ng-leave {
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    
  position:absolute;
}

.animate-switchLeft.ng-enter,
.animate-switchRight.ng-leave.ng-leave-active{
  left:200%;
}

.animate-switchLeft.ng-leave,
.animate-switchLeft.ng-enter.ng-enter-active,
.animate-switchRight.ng-leave,
.animate-switchRight.ng-enter.ng-enter-active{
  left:0;
}

.animate-switchLeft.ng-leave.ng-leave-active,
.animate-switchRight.ng-enter{
  left:-200%;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.slideIconLeft, .slideIconRight{
    position: absolute;
    top: 30px;
    font-size: 12px;
    line-height: 30px;
}
.slideIconLeft span, .slideIconRight span{
    line-height: 44px;
}

.slideIconLeft .btn-primary, .slideIconRight .btn-primary{
    border-radius: 100%;
    border: 1px solid #2e6da4;
}

.slideIconLeft{
    left:-50px;
}

.slideIconRight{
    right:-50px;
    text-indent: 4px;
}

.contentContainer{
    min-height: 320px;
}

.barGraph{
    margin: auto;
}

.loadingIcon{
    position: absolute;
    top: 150px;
}