.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
    
 .myStyle {
     background-color:#E8E8E8;
    }
    
    .headerRadio10 {
        color:rgba(192, 192, 0, 1);
    }
    
    .inlineRadio10 {
       background-color: rgba(192, 192, 0, 0.6);
    }
    
     .headerRadio9 {
        color:rgba(192, 176, 0, 1);
    }
    
    .inlineRadio9 {
         background-color:rgba(192, 176, 0, 0.6);       
    }
    
     .headerRadio8 {
        color:rgba(192, 160, 0, 1);
    }
    
    .inlineRadio8 {
         background-color:rgba(192, 160, 0, 0.6);
    }
    
     .headerRadio7 {
        color:rgba(192, 144, 0, 1);
    }
    
    .inlineRadio7 {
         background-color:rgba(192, 144, 0, 0.6);
    }
    
     .headerRadio6 {
        color:rgba(192, 128, 0, 1);
    }
    
    .inlineRadio6 {
         background-color:rgba(192, 128, 0, 0.6);
    }
    
     .headerRadio5 {
        color:rgba(192, 112, 0, 1);
    }
    
    .inlineRadio5 {
         background-color:rgba(192, 112, 0, 0.6);
    }
    
     .headerRadio4 {
        color:rgba(192, 96, 0, 1);
    }
    
    .inlineRadio4 {
         background-color:rgba(192, 96, 0, 0.6);
    }
    
     .headerRadio3 {
        color:rgba(192, 80, 0, 1);
    }
    
    .inlineRadio3 {
         background-color:rgba(192, 80, 0, 0.6);
    }
    
     .headerRadio2 {
        color:rgba(192, 64, 0, 1);
    }
    
    .inlineRadio2 {
         background-color:rgba(192, 64, 0, 0.6);
    }
    
     .headerRadio1 {
        color:rgba(192, 48, 0, 1);
    }
    
    .inlineRadio1 {
         background-color:rgba(192, 48, 0, 0.6);
    }
    
     .headerRadio0 {
        color:rgba(192, 32, 0, 1);
    }
    
    .inlineRadio0 {
         background-color:rgba(192, 32, 0, 0.6);
    }
}
